@import 'tailwindcss';

@import 'tw-animate-css';

@import './lib/styles/font.css';

@custom-variant dark (&: is(.dark *));

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.129 0.042 264.695);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.129 0.042 264.695);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.129 0.042 264.695);
	--primary: oklch(0.208 0.042 265.755);
	--primary-foreground: oklch(0.984 0.003 247.858);
	--secondary: oklch(0.968 0.007 247.896);
	--secondary-foreground: oklch(0.208 0.042 265.755);
	--muted: oklch(0.968 0.007 247.896);
	--muted-foreground: oklch(0.554 0.046 257.417);
	--accent: oklch(0.968 0.007 247.896);
	--accent-foreground: oklch(0.208 0.042 265.755);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.929 0.013 255.508);
	--input: oklch(0.929 0.013 255.508);
	--ring: oklch(0.704 0.04 256.788);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.984 0.003 247.858);
	--sidebar-foreground: oklch(0.129 0.042 264.695);
	--sidebar-primary: oklch(0.208 0.042 265.755);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.968 0.007 247.896);
	--sidebar-accent-foreground: oklch(0.208 0.042 265.755);
	--sidebar-border: oklch(0.929 0.013 255.508);
	--sidebar-ring: oklch(0.704 0.04 256.788);
	--paper-white-50: #f8f3f1;
	--paper-white: #f2eee3;
	--paper-black: #28252d;
	--paper-blue-50: #2fbee8;
	--paper-blue-100: #37a1f0;
	--paper-blue-150: #3e84f8;
	--paper-pink-50: #fba8b3;
	--paper-pink-100: #fb8d9e;
	--paper-pink-150: #fb7289;
	/* --light-grey: #c9d3dc; */
	/* --dark-grey: #808a9f; */
}

.magicpattern {
	background-size: cover;
	background-position: center center;
	background-repeat: repeat;
	background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23f8f3f1%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%2328252d52%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h80v80H0zM80 0h80v80H80zM160 0h80v80h-80zM240 0h80v80h-80zM320 0h80v80h-80zM400 0h80v80h-80zM480 0h80v80h-80zM560 0h80v80h-80zM640 0h80v80h-80zM720 0h80v80h-80zM800 0h80v80h-80zM880 0h80v80h-80zM960 0h80v80h-80zM1040 0h80v80h-80zM1120 0h80v80h-80zM1200 0h80v80h-80zM1280 0h80v80h-80zM1360 0h80v80h-80zM1440 0h80v80h-80zM1520 0h80v80h-80zM1600 0h80v80h-80zM1680 0h80v80h-80zM1760 0h80v80h-80zM1840 0h80v80h-80zM1920 0h80v80h-80zM0 80h80v80H0zM80 80h80v80H80zM160 80h80v80h-80zM240 80h80v80h-80zM320 80h80v80h-80zM400 80h80v80h-80zM480 80h80v80h-80zM560 80h80v80h-80zM640 80h80v80h-80zM720 80h80v80h-80zM800 80h80v80h-80zM880 80h80v80h-80zM960 80h80v80h-80zM1040 80h80v80h-80zM1120 80h80v80h-80zM1200 80h80v80h-80zM1280 80h80v80h-80zM1360 80h80v80h-80zM1440 80h80v80h-80zM1520 80h80v80h-80zM1600 80h80v80h-80zM1680 80h80v80h-80zM1760 80h80v80h-80zM1840 80h80v80h-80zM1920 80h80v80h-80zM0 160h80v80H0zM80 160h80v80H80zM160 160h80v80h-80zM240 160h80v80h-80zM320 160h80v80h-80zM400 160h80v80h-80zM480 160h80v80h-80zM560 160h80v80h-80zM640 160h80v80h-80zM720 160h80v80h-80zM800 160h80v80h-80zM880 160h80v80h-80zM960 160h80v80h-80zM1040 160h80v80h-80zM1120 160h80v80h-80zM1200 160h80v80h-80zM1280 160h80v80h-80zM1360 160h80v80h-80zM1440 160h80v80h-80zM1520 160h80v80h-80zM1600 160h80v80h-80zM1680 160h80v80h-80zM1760 160h80v80h-80zM1840 160h80v80h-80zM1920 160h80v80h-80zM0 240h80v80H0zM80 240h80v80H80zM160 240h80v80h-80zM240 240h80v80h-80zM320 240h80v80h-80zM400 240h80v80h-80zM480 240h80v80h-80zM560 240h80v80h-80zM640 240h80v80h-80zM720 240h80v80h-80zM800 240h80v80h-80zM880 240h80v80h-80zM960 240h80v80h-80zM1040 240h80v80h-80zM1120 240h80v80h-80zM1200 240h80v80h-80zM1280 240h80v80h-80zM1360 240h80v80h-80zM1440 240h80v80h-80zM1520 240h80v80h-80zM1600 240h80v80h-80zM1680 240h80v80h-80zM1760 240h80v80h-80zM1840 240h80v80h-80zM1920 240h80v80h-80zM0 320h80v80H0zM80 320h80v80H80zM160 320h80v80h-80zM240 320h80v80h-80zM320 320h80v80h-80zM400 320h80v80h-80zM480 320h80v80h-80zM560 320h80v80h-80zM640 320h80v80h-80zM720 320h80v80h-80zM800 320h80v80h-80zM880 320h80v80h-80zM960 320h80v80h-80zM1040 320h80v80h-80zM1120 320h80v80h-80zM1200 320h80v80h-80zM1280 320h80v80h-80zM1360 320h80v80h-80zM1440 320h80v80h-80zM1520 320h80v80h-80zM1600 320h80v80h-80zM1680 320h80v80h-80zM1760 320h80v80h-80zM1840 320h80v80h-80zM1920 320h80v80h-80zM0 400h80v80H0zM80 400h80v80H80zM160 400h80v80h-80zM240 400h80v80h-80zM320 400h80v80h-80zM400 400h80v80h-80zM480 400h80v80h-80zM560 400h80v80h-80zM640 400h80v80h-80zM720 400h80v80h-80zM800 400h80v80h-80zM880 400h80v80h-80zM960 400h80v80h-80zM1040 400h80v80h-80zM1120 400h80v80h-80zM1200 400h80v80h-80zM1280 400h80v80h-80zM1360 400h80v80h-80zM1440 400h80v80h-80zM1520 400h80v80h-80zM1600 400h80v80h-80zM1680 400h80v80h-80zM1760 400h80v80h-80zM1840 400h80v80h-80zM1920 400h80v80h-80zM0 480h80v80H0zM80 480h80v80H80zM160 480h80v80h-80zM240 480h80v80h-80zM320 480h80v80h-80zM400 480h80v80h-80zM480 480h80v80h-80zM560 480h80v80h-80zM640 480h80v80h-80zM720 480h80v80h-80zM800 480h80v80h-80zM880 480h80v80h-80zM960 480h80v80h-80zM1040 480h80v80h-80zM1120 480h80v80h-80zM1200 480h80v80h-80zM1280 480h80v80h-80zM1360 480h80v80h-80zM1440 480h80v80h-80zM1520 480h80v80h-80zM1600 480h80v80h-80zM1680 480h80v80h-80zM1760 480h80v80h-80zM1840 480h80v80h-80zM1920 480h80v80h-80zM0 560h80v80H0zM80 560h80v80H80zM160 560h80v80h-80zM240 560h80v80h-80zM320 560h80v80h-80zM400 560h80v80h-80zM480 560h80v80h-80zM560 560h80v80h-80zM640 560h80v80h-80zM720 560h80v80h-80zM800 560h80v80h-80zM880 560h80v80h-80zM960 560h80v80h-80zM1040 560h80v80h-80zM1120 560h80v80h-80zM1200 560h80v80h-80zM1280 560h80v80h-80zM1360 560h80v80h-80zM1440 560h80v80h-80zM1520 560h80v80h-80zM1600 560h80v80h-80zM1680 560h80v80h-80zM1760 560h80v80h-80zM1840 560h80v80h-80zM1920 560h80v80h-80zM0 640h80v80H0zM80 640h80v80H80zM160 640h80v80h-80zM240 640h80v80h-80zM320 640h80v80h-80zM400 640h80v80h-80zM480 640h80v80h-80zM560 640h80v80h-80zM640 640h80v80h-80zM720 640h80v80h-80zM800 640h80v80h-80zM880 640h80v80h-80zM960 640h80v80h-80zM1040 640h80v80h-80zM1120 640h80v80h-80zM1200 640h80v80h-80zM1280 640h80v80h-80zM1360 640h80v80h-80zM1440 640h80v80h-80zM1520 640h80v80h-80zM1600 640h80v80h-80zM1680 640h80v80h-80zM1760 640h80v80h-80zM1840 640h80v80h-80zM1920 640h80v80h-80zM0 720h80v80H0zM80 720h80v80H80zM160 720h80v80h-80zM240 720h80v80h-80zM320 720h80v80h-80zM400 720h80v80h-80zM480 720h80v80h-80zM560 720h80v80h-80zM640 720h80v80h-80zM720 720h80v80h-80zM800 720h80v80h-80zM880 720h80v80h-80zM960 720h80v80h-80zM1040 720h80v80h-80zM1120 720h80v80h-80zM1200 720h80v80h-80zM1280 720h80v80h-80zM1360 720h80v80h-80zM1440 720h80v80h-80zM1520 720h80v80h-80zM1600 720h80v80h-80zM1680 720h80v80h-80zM1760 720h80v80h-80zM1840 720h80v80h-80zM1920 720h80v80h-80zM0 800h80v80H0zM80 800h80v80H80zM160 800h80v80h-80zM240 800h80v80h-80zM320 800h80v80h-80zM400 800h80v80h-80zM480 800h80v80h-80zM560 800h80v80h-80zM640 800h80v80h-80zM720 800h80v80h-80zM800 800h80v80h-80zM880 800h80v80h-80zM960 800h80v80h-80zM1040 800h80v80h-80zM1120 800h80v80h-80zM1200 800h80v80h-80zM1280 800h80v80h-80zM1360 800h80v80h-80zM1440 800h80v80h-80zM1520 800h80v80h-80zM1600 800h80v80h-80zM1680 800h80v80h-80zM1760 800h80v80h-80zM1840 800h80v80h-80zM1920 800h80v80h-80zM0 880h80v80H0zM80 880h80v80H80zM160 880h80v80h-80zM240 880h80v80h-80zM320 880h80v80h-80zM400 880h80v80h-80zM480 880h80v80h-80zM560 880h80v80h-80zM640 880h80v80h-80zM720 880h80v80h-80zM800 880h80v80h-80zM880 880h80v80h-80zM960 880h80v80h-80zM1040 880h80v80h-80zM1120 880h80v80h-80zM1200 880h80v80h-80zM1280 880h80v80h-80zM1360 880h80v80h-80zM1440 880h80v80h-80zM1520 880h80v80h-80zM1600 880h80v80h-80zM1680 880h80v80h-80zM1760 880h80v80h-80zM1840 880h80v80h-80zM1920 880h80v80h-80zM0 960h80v80H0zM80 960h80v80H80zM160 960h80v80h-80zM240 960h80v80h-80zM320 960h80v80h-80zM400 960h80v80h-80zM480 960h80v80h-80zM560 960h80v80h-80zM640 960h80v80h-80zM720 960h80v80h-80zM800 960h80v80h-80zM880 960h80v80h-80zM960 960h80v80h-80zM1040 960h80v80h-80zM1120 960h80v80h-80zM1200 960h80v80h-80zM1280 960h80v80h-80zM1360 960h80v80h-80zM1440 960h80v80h-80zM1520 960h80v80h-80zM1600 960h80v80h-80zM1680 960h80v80h-80zM1760 960h80v80h-80zM1840 960h80v80h-80zM1920 960h80v80h-80zM0 1040h80v80H0zM80 1040h80v80H80zM160 1040h80v80h-80zM240 1040h80v80h-80zM320 1040h80v80h-80zM400 1040h80v80h-80zM480 1040h80v80h-80zM560 1040h80v80h-80zM640 1040h80v80h-80zM720 1040h80v80h-80zM800 1040h80v80h-80zM880 1040h80v80h-80zM960 1040h80v80h-80zM1040 1040h80v80h-80zM1120 1040h80v80h-80zM1200 1040h80v80h-80zM1280 1040h80v80h-80zM1360 1040h80v80h-80zM1440 1040h80v80h-80zM1520 1040h80v80h-80zM1600 1040h80v80h-80zM1680 1040h80v80h-80zM1760 1040h80v80h-80zM1840 1040h80v80h-80zM1920 1040h80v80h-80zM0 1120h80v80H0zM80 1120h80v80H80zM160 1120h80v80h-80zM240 1120h80v80h-80zM320 1120h80v80h-80zM400 1120h80v80h-80zM480 1120h80v80h-80zM560 1120h80v80h-80zM640 1120h80v80h-80zM720 1120h80v80h-80zM800 1120h80v80h-80zM880 1120h80v80h-80zM960 1120h80v80h-80zM1040 1120h80v80h-80zM1120 1120h80v80h-80zM1200 1120h80v80h-80zM1280 1120h80v80h-80zM1360 1120h80v80h-80zM1440 1120h80v80h-80zM1520 1120h80v80h-80zM1600 1120h80v80h-80zM1680 1120h80v80h-80zM1760 1120h80v80h-80zM1840 1120h80v80h-80zM1920 1120h80v80h-80zM0 1200h80v80H0zM80 1200h80v80H80zM160 1200h80v80h-80zM240 1200h80v80h-80zM320 1200h80v80h-80zM400 1200h80v80h-80zM480 1200h80v80h-80zM560 1200h80v80h-80zM640 1200h80v80h-80zM720 1200h80v80h-80zM800 1200h80v80h-80zM880 1200h80v80h-80zM960 1200h80v80h-80zM1040 1200h80v80h-80zM1120 1200h80v80h-80zM1200 1200h80v80h-80zM1280 1200h80v80h-80zM1360 1200h80v80h-80zM1440 1200h80v80h-80zM1520 1200h80v80h-80zM1600 1200h80v80h-80zM1680 1200h80v80h-80zM1760 1200h80v80h-80zM1840 1200h80v80h-80zM1920 1200h80v80h-80zM0 1280h80v80H0zM80 1280h80v80H80zM160 1280h80v80h-80zM240 1280h80v80h-80zM320 1280h80v80h-80zM400 1280h80v80h-80zM480 1280h80v80h-80zM560 1280h80v80h-80zM640 1280h80v80h-80zM720 1280h80v80h-80zM800 1280h80v80h-80zM880 1280h80v80h-80zM960 1280h80v80h-80zM1040 1280h80v80h-80zM1120 1280h80v80h-80zM1200 1280h80v80h-80zM1280 1280h80v80h-80zM1360 1280h80v80h-80zM1440 1280h80v80h-80zM1520 1280h80v80h-80zM1600 1280h80v80h-80zM1680 1280h80v80h-80zM1760 1280h80v80h-80zM1840 1280h80v80h-80zM1920 1280h80v80h-80zM0 1360h80v80H0zM80 1360h80v80H80zM160 1360h80v80h-80zM240 1360h80v80h-80zM320 1360h80v80h-80zM400 1360h80v80h-80zM480 1360h80v80h-80zM560 1360h80v80h-80zM640 1360h80v80h-80zM720 1360h80v80h-80zM800 1360h80v80h-80zM880 1360h80v80h-80zM960 1360h80v80h-80zM1040 1360h80v80h-80zM1120 1360h80v80h-80zM1200 1360h80v80h-80zM1280 1360h80v80h-80zM1360 1360h80v80h-80zM1440 1360h80v80h-80zM1520 1360h80v80h-80zM1600 1360h80v80h-80zM1680 1360h80v80h-80zM1760 1360h80v80h-80zM1840 1360h80v80h-80zM1920 1360h80v80h-80z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%2237.6%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fff%22 stop-opacity=%22.624%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E');
}

.dark {
	--background: oklch(0.129 0.042 264.695);
	--foreground: oklch(0.984 0.003 247.858);
	--card: oklch(0.208 0.042 265.755);
	--card-foreground: oklch(0.984 0.003 247.858);
	--popover: oklch(0.208 0.042 265.755);
	--popover-foreground: oklch(0.984 0.003 247.858);
	--primary: oklch(0.929 0.013 255.508);
	--primary-foreground: oklch(0.208 0.042 265.755);
	--secondary: oklch(0.279 0.041 260.031);
	--secondary-foreground: oklch(0.984 0.003 247.858);
	--muted: oklch(0.279 0.041 260.031);
	--muted-foreground: oklch(0.704 0.04 256.788);
	--accent: oklch(0.279 0.041 260.031);
	--accent-foreground: oklch(0.984 0.003 247.858);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.208 0.042 265.755);
	--sidebar-foreground: oklch(0.984 0.003 247.858);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.984 0.003 247.858);
	--sidebar-accent: oklch(0.279 0.041 260.031);
	--sidebar-accent-foreground: oklch(0.984 0.003 247.858);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-paper-white-50: var(--paper-white-50);
	--color-paper-white: var(--paper-white);
	--color-paper-black: var(--paper-black);
	--color-paper-blue-50: var(--paper-blue-50);
	--color-paper-blue-100: var(--paper-blue-100);
	--color-paper-blue-150: var(--paper-blue-150);
	--color-paper-pink-50: var(--paper-pink-50);
	--color-paper-pink-100: var(--paper-pink-100);
	--color-paper-pink-150: var(--paper-pink-150);
	--font-heading: 'Monument Extended';
	--font-sans: inter;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.neo-shadow {
	box-shadow: 4px 4px 0 0 var(--color-paper-black);
}

.neo-shadow-lg {
	box-shadow: 8px 8px 0 0 var(--color-paper-black);
}

.neo-shadow-hover:hover {
	box-shadow: 4px 4px 0 0 var(--color-paper-black);
}

.neo-shadow-white {
	box-shadow: 4px 4px 0 0 var(--color-paper-white-50);
}
